#mani {
    color: #19b636;
}
#Praveen {
    color:rgb(91, 34, 190);
}
#Name {
    color:crimson;
}
#praveen {
    color:indigo
}

#Ramu {
    color:rgb(246, 105, 164);
}

body{
background-color:rgb(247, 247, 245);

}
#Rev{
    color:bisque;
}